body {
  border: 0;
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed", sans-serif;
  background-color: white;
}
nav {
  font-size: 2.5em;
  text-align: center;
  /* position: fixed; */
  font-family: "Oswald", sans-serif;
  padding: 15px;
}
#fiction-list,
#nonfiction-list {
  text-align: center;
}
form {
  float: inline-end;
}
.container {
  /* background-color: cadetblue; */
  display: inline;
}

#fiction {
  /* background-color: azure; */
  /* display: flex; */
  flex-direction: row;
  flex-wrap: nowrap;
}
#fiction-list {
  /* background-color: thistle; */
  height: 40px;
  font-size: 2em;
  text-align: start;
  margin: 25px 0 0 15px;
}
#nonfiction-list {
  /* background-color: thistle; */
  height: 40px;
  font-size: 2em;
  text-align: start;
  margin: 25px 0 0 15px;
}
#nonfiction {
  /* background-color: whitesmoke; */
  /* display: flex; */
  /* margin: auto; */
  flex-direction: row;
  flex-wrap: nowrap;
}
.scrolling-wrapper {
  margin: auto;
  /* height: 20%; */
  width: 75%;
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
  /* flex-direction: row;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap; */
}
.card {
  background-color: rgba(245, 245, 245, 0.783);
  border-radius: 15px;
  border: black 1px solid;
  flex: 0 0 auto;
  /* height: 85%; */
  width: 200px;
  /* display: inline-flexbox; */
  /* flex-direction: row; */
  /* flex-basis: 1; */
  margin: 15px;
  padding: 20px;
  font-size: 100%;
}
.title {
  text-align: center;
  font-size: 1.1em;
  /* white-space: normal; */
}
.author {
  text-align: center;
  font-size: 1em;
  /* white-space: normal; */
}
.ranking {
  font-weight: bold;
  margin: auto 0;
}
.book-cover {
  display: block;
  margin: 0 auto;
  padding: 5px;
}
a {
  text-align: center;
  text-decoration: none;
  display: block;
  color: darkslategray;
  font-weight: bold;
  padding: 10px 0;
}
a:hover {
  font-weight: bolder;
  text-decoration: underline;
}
footer {
  margin: 50px 0px;
}
